<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/head-layout :: head_layout"></head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        

        <!-- Sidebar -->
        <ul th:replace="layout/sidebar-layout::sidebar_layout"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="layout/navbar-layout::navbar_layout"></nav>
                
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <button class="btn btn-success btn-icon-split mb-2" data-toggle="modal" data-target="#employeeModal">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">Add</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="religionTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Email</th>
                                            <th>Name</th>
                                            <th>Date Birth</th>
                                            <th>Nation</th>
                                            <th>Status</th>
                                            <th>Gender</th>
                                            <th>Religion</th>
                                            <th>Photo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    

                </div>
                <!-- /.container-fluid -->
                <!-- MODAL -->
                            <div class="modal fade" id="religionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Religion</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="#">
                                                <div class="form-group">
                                                    <input type="hidden" class="form-control" id="id" th:name="id">
                                                </div>
                                                <div class="form-group">
                                                    <label for="name"> Religion </label>
                                                    <input type="text" class="form-control" th:name="name" id="name">

                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" th:onclick="save()">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            <!--end-->

            </div>
            <!-- End of Main Content -->
            
            <script th:src="@{../js/admin/admin-religion.js}" ></script>
            <!-- Footer -->
            <footer th:replace="layout/footer-layout::footer_layout"></footer>
            
            <!-- End of Footer -->
            

        </div>
        <!-- End of Content Wrapper -->
         

    </div>
    <!-- End of Page Wrapper -->

</body>

</html>