<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="layout/head-layout :: head_layout"></head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        

        <!-- Sidebar -->
        <ul th:replace="layout/sidebar-layout::sidebar_layout"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="layout/navbar-layout::navbar_layout"></nav>
                
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    
                    <div class="card">
                        <div class="card-header">Education</div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">University</label><select class="form-control" id="exampleFormControlSelect1" readonly>
                                        <option>UDINUS</option>
                                        <option>UNIMA</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Major</label><select class="form-control" id="exampleFormControlSelect1" readonly>
                                        <option>Teknik Informatika</option>
                                        <option>Akuntansi</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Level</label><select class="form-control" id="exampleFormControlSelect1" readonly>
                                        <option>S1</option>
                                        <option>S2</option>
                                        <option>S3</option>
                                    </select>
                                    
                                </div>
                                <button type="button" class="btn btn-warning fa fa-sm fa-edit" href="#" data-toggle="modal" data-target="#editModal" ></button>

                            </form>
                           
                        </div>
                    </div>
                    
                     
                <!-- /.container-fluid -->

            </div>

                
            <!-- End of Main Content -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Edit Education</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">University</label>
                          <select class="form-control" id="exampleFormControlSelect1">
                                <option>UDINUS</option>
                                <option>UNIMA</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Major</label>
                          <select class="form-control" id="exampleFormControlSelect1">
                                <option>Teknik Informatika</option>
                                <option>Akuntansi</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Level</label>
                          <select class="form-control" id="exampleFormControlSelect1">
                                <option>S1</option>
                                <option>S2</option>
                                <option>S3</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                  </div>
                </div>
            </div>
            
            <!-- Footer -->
            
            
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
        
        <footer th:replace="layout/footer-layout::footer_layout"></footer>
    </div>
    <!-- End of Page Wrapper -->

</body>
</html>
