<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="layout/head-layout :: head_layout"></head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">


            <!-- Sidebar -->
            <ul th:replace="layout/sidebar-layout::sidebar_layout"></ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav th:replace="layout/navbar-layout::navbar_layout"></nav>

                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">


                        <div class="card">
                            <div class="card-header">Personal</div>
                            <div class="card-body" >
                                <form action="#" method="#">
                                    <input type="hidden" class="form-control" th:id="id" th:name="id" th:value="${employees.id}">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" th:id="name" th:name="name" th:value="${employees.name}">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" th:id="email" th:name="email" th:value="${employees.email}">
                                    </div>
                                    <div class="form-group">
                                        <label for="birth">Date Birth</label>
                                        <input type="date" class="form-control" th:id="birth" th:name="birth" th:value="${employees.dateBirth}">
                                    </div>
                                    <div class="form-group">
                                        <label for="nation">Nation</label>
                                        <input type="text" class="form-control" th:id="nation" th:name="nation" th:value="${employees.nation}">
                                    </div>
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select class="form-control" th:id="status" th:value="${employees.status}">
                                            <option value="">Select Type</option>
                                            <option value="0">Single</option>
                                            <option value="1">Married</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select class="form-control" th:id="gender" th:value="${employees.gender}">
                                            <option value="">Select Type</option>
                                            <option value="0">Male</option>
                                            <option value="1">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="religion">Religion</label>
                                        <select class="form-control" th:id="religion">
                                            <option value="">Select Type</option>
                                            <option th:each="religion : ${religions}" th:text="${religion.name}" th:value="${religion.id}" ></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="photo">Photo</label>
                                        <input type="file" class="form-control" th:id="photo" th:name="photo" >
                                    </div>
                                    <div>
                                        <div class="float-left">
                                            <button type="button" class="btn btn-warning btn-icon-split mb-2 float-right" th:id="Edit" th:onclick="btnEdit()">
                                                <span class="icon text-white-50">
                                                    <i class="fa fa-sm fa-edit"></i>
                                                </span>
                                                <span class="text">Edit</span>
                                            </button>
                                        </div>
                                        <div class="float-left">
                                            <button type="button" class="btn btn-secondary btn-icon-split mr-2 float-left" th:id="Cancel" th:onclick="cancel()">
                                                <span class="icon text-white-50">
                                                    <i class="fa fa-sm fa-edit"></i>
                                                </span>
                                                <span class="text">Cancel</span>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-icon-split mb-2 float-right" th:id="Save" th:onclick="save()">
                                                <span class="icon text-white-50">
                                                    <i class="fa fa-sm fa-edit"></i>
                                                </span>
                                                <span class="text">Save</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                        <br>


                        <!-- /.container-fluid -->

                    </div>


                    <!-- End of Main Content -->
                    <!-- MODAL -->
                    <div class="modal fade" id="editEmployee" tabindex="-1" role="dialog" aria-labelledby="modalEmployeeLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalEmployeeLabel">Edit Personal Data</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="">
                                        <div class="form-group">
                                            <label>Nama</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Insert your name..." value="Habib">
                                        </div>
                                        <div class="form-group">
                                            <label>Date of Birth</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" value="19/01/2020">

                                        </div>
                                        <div class="form-group">
                                            <label>Nationality</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Insert your nationality..." value="Indonesia">
                                        </div>
                                        <div class="form-group">
                                            <label>Email address</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com" value="habibabdul@gmail.com">

                                        </div>
                                        <div class="form-group">
                                            <label for="statusRelation">Status</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Single</option>
                                                <option>Married</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="Gender">Gender</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label for="Religion">Religion</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Moslem</option>
                                                <option>Christian</option>
                                                <option>Catolic</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--end-->

                    <!-- Footer -->

                    <footer th:replace="layout/footer-layout::footer_layout"></footer>
                    <!-- End of Footer -->
                    <script th:src="@{../js/employee/employee.js}" ></script>
                </div>
                <!-- End of Content Wrapper -->

                
            </div>
            <!-- End of Page Wrapper -->

    </body>
</html>
