<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="layout/head-layout :: head_layout"></head>
    <body>
        <div class="wrapper">
            <div class="row h-100">
                <div class="col-md-4 m-auto">
                    <div class="card p-4">
                        <div class="card-body">
                            <h1 class="text-center">MII Bootcamp</h1>
                            <p class="login-desc text-center mb-4" >Please sign in to your account</p>
                            <form th:action="@{loginProses}"  th:object="${lg}"  method="POST" class="needs-validation" novalidate>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" th:name="username" th:id="username" required>
                                    <div class="invalid-feedback">
                                        Please input username.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" th:name="password" th:id="password" required>
                                    <div class="invalid-feedback">
                                        Please input password.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary w-100 mt-3" >Sign In</button>
                                </div>
                                <div class="form-group">
                                    <a class="btn-link float-right" href="#" >Forgot password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
