<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/head-layout :: head_layout"></head>
    <body class="bg-gradient-primary">

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center  mt-5">

                <!--<div class="col-xl-10 col-lg-12 col-md-9">-->
                <div class="col-md-5 m-auto">

                    <div class="card o-hidden border-0 shadow-lg my-5 p-3">
                        <div class="card-body">
                            <!-- Nested Row within Card Body -->
                            <!--<div class="row">-->
                            <!--<div></div>-->
                            <!--                            <div class="col-lg-6 d-none d-lg-block ">
                                                            <img src="img/mii.png" style="display: block; margin: auto" width="300" height="200" />
                                                        </div>-->
                            <!--<div class="col-md-6">-->
                            <!--<div class="p-5">-->
                            
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">CV Library</h1>
                            </div>
                            <div class="alert alert-danger" role="alert" th:if="${param.locked}">Your account is locked</div>
                            <div class="alert alert-danger" role="alert" th:if="${param.error}">Check your username and password!</div>
                            <div class="alert alert-danger" role="alert" th:if="${param.notFound}">Check your username not found</div>
                            <form class="needs-validation" novalidate action="/login_proses" method="POST">
                                <div class="form-group">
                                    <input type="text" th:name="username" class="form-control form-control-user"
                                           id="exampleInputEmail" aria-describedby="emailHelp"
                                           placeholder="Enter Your Username...">
                                </div>
                                <div class="form-group">
                                    <input type="password" th:name="password" class="form-control form-control-user"
                                           id="exampleInputPassword" placeholder="Password">
                                </div>
                                <button class="btn btn-primary btn-user btn-block">Login</button>

                            </form>
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

    </body>
</html>

