<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html> 
<html> 
  
<head> 
    <title> 
        Detail CV
    </title> 
  
    <script type="text/javascript"> 
    </script> 
  
</head> 
  
<body> 
  
    <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">Profile Detail</div>
                        <div class="card-body">
                            <table width="800px">
                              <tbody>
                                <tr>
                                  <td width="25%">Name</td>
                                  <td width="1%">:</td>
                                  <td>Habib</td>
                                  <td rowspan="7" width="350px" align="right"><img src="https://tmssl.akamaized.net/images/portrait/originals/88103-1540568385.jpg" alt="Me with Rini Sugianto" title="Me with Rini Sugianto" height="200px" width="150px"></td>
                                </tr>
                                <tr>
                                  <td>Date of Birth</td>
                                  <td>:</td>
                                  <td>19 july 1997</td>
                                </tr>
                                <tr>
                                  <td>Nationality</td>
                                  <td>:</td>
                                  <td>Indonesia</td>
                                </tr>
                                  <td>Email</td>
                                  <td>:</td>
                                  <td>habibabdul@gmail.com</td>
                                </tr>
                                </tr>
                                  <td>Status</td>
                                  <td>:</td>
                                  <td>Single</td>
                                </tr>
                                </tr>
                                  <td>Gender</td>
                                  <td>:</td>
                                  <td>Male</td>
                                </tr>
                                </tr>
                                  <td>Religion</td>
                                  <td>:</td>
                                  <td>Moslem</td>
                                </tr>

                              </tbody>
                            </table><br>
                          <h4>Education</h4>
                            <table th:cellpadding="3">
                              <tbody>
                                <!--<tr th:each="employee : ${employees}">-->
<!--                                  <td th:value="${employee.level}"></td>
                                  <td th:value="${employee.university}"></td>
                                  <td th:value="${employee.major}">Informatics</td>
                                  <td th:value="${employee.year}">2015</td>
                                  <td th:value="${employee.ipk}">3.44</td>-->
                                </tr>
                              </tbody>
                            </table><br>
                          <h4>Technical</h4>
                            <table th:cellpadding="3">
                             <tbody>
                                <tr>
                                  <td>Programming</td>
                                  <td>Java, SQL</td>
                                </tr>
                                <tr>
                                  <td>Platform</td>
                                  <td>Windows 10</td>
                                </tr>
                              </tbody>
                            </table><br>
                          <h4>Work</h4>
                            <table th:cellpadding="3">
                             <tbody>
                                 <tr>
                                     <td>Metrodata</td>
                                     <td>Programmer</td>
                                     <td>Programmer Java</td>
                                     <td>2019-12-01</td>
                                     <td>2020-12-01</td>
                                 </tr>
                             </tbody>
                            </table><br>
                          <h4>Training</h4>
                            <table th:cellpadding="3">
                              <tbody>
                                <tr>
                                  <td>TOEFL Preparation</td>
                                  <td>Lembaga Bahasa dan Pendidikan Profesional LBPP LIA </td>
                                  <td>2020-01-01</td>
                                </tr>
                              </tbody>
                            </table><br>
                          <h4>Organization</h4>
                            <table th:cellpadding="3">
                              <tbody>
                                <tr>
                                  <td>Asosiasi Matematika Terapan</td>
                                  <td>Matematika Universitas Diponegoro </td>
                                  <td>2019-01-01</td>
                                  <td>2020-01-01</td>
                                </tr>
                              </tbody>
                            </table><br>
                          <h4>Experience</h4>
                            <table th:cellpadding="3">
                              <tbody>
                                  <tr>
                                  <td>Oral Presenter in Seminar Nasional Matematika dan Pendidikan Matematika </td>
                                  <td>2020-01-01</td>
                                </tr>
                                  
                              </tbody>
                            </table><br>
                          <h4>Awards</h4>
                            <table th:cellpadding="3">
                              <tbody>
                                  <tr>
                                  <td>Finalist of National Olympic Mathematics</td>
                                  <td>2020-01-01</td>
                                </tr>
                                  
                              </tbody>
                            </table>
                        
                        </div>
                    </div><br>

                </div>
    <form> 
        <input type="button" value="Print" 
               onclick="window.print()" /> 
    </form> 
  
</body> 
<html> 
